	#starting
	 > * {
		-moz-transition: opacity 0.325s ease-in-out;
		-webkit-transition: opacity 0.325s ease-in-out;
		-ms-transition: opacity 0.325s ease-in-out;
		transition: opacity 0.325s ease-in-out;
		position: relative;
		margin-top: 3.5rem;
	}

		#starting
		 > *:before {
			content: '';
			display: block;
			position: absolute;
			top: calc(-3.5rem - 1px);
			left: calc(50% - 1px);
			width: 1px;
			height: calc(3.5rem + 1px);
			background: #ffffff;
		}

	#starting
	 > :first-child {
		margin-top: 0;
	}

		#starting
		 > :first-child:before {
			display: none;
		}

	#starting
	 nav ul {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		margin-bottom: 0;
		list-style: none;
		padding-left: 0;
		border: solid 1px #ffffff;
		border-radius: 4px;
	}

		#starting
		 nav ul li {
			padding-left: 0;
			border-left: solid 1px #ffffff;
		}

			#starting
			 nav ul li:first-child {
				border-left: 0;
			}

			#starting
			 nav ul li a {
				display: block;
				min-width: 7.5rem;
				height: 2.75rem;
				line-height: 2.75rem;
				padding: 0 1.25rem 0 1.45rem;
				text-transform: uppercase;
				letter-spacing: 0.2rem;
				font-size: 0.8rem;
				border-bottom: 0;
			}

				#starting
				 nav ul li a:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				#starting
				 nav ul li a:active {
					background-color: rgba(255, 255, 255, 0.175);
				}

	#starting
	 nav.use-middle:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: calc(50% - 1px);
		width: 1px;
		height: 100%;
		background: #ffffff;
	}

	#starting
	 nav.use-middle ul li.is-middle {
		border-left: 0;
	}

	body.is-article-visible #starting
	 {
		-moz-transform: scale(0.95);
		-webkit-transform: scale(0.95);
		-ms-transform: scale(0.95);
		transform: scale(0.95);
		-moz-filter: blur(0.1rem);
		-webkit-filter: blur(0.1rem);
		-ms-filter: blur(0.1rem);
		filter: blur(0.1rem);
		opacity: 0;
	}

	body.is-preload #starting
	 {
		-moz-filter: blur(0.125rem);
		-webkit-filter: blur(0.125rem);
		-ms-filter: blur(0.125rem);
		filter: blur(0.125rem);
	}

		body.is-preload #starting
		 > * {
			opacity: 0;
		}

		body.is-preload #starting
		 .content .inner {
			max-height: 0;
			padding-top: 0;
			padding-bottom: 0;
			opacity: 0;
		}

	@media screen and (max-width: 980px) {

		#starting
		 .content p br {
			display: none;
		}

	}

	@media screen and (max-width: 736px) {

		#starting
		 > * {
			margin-top: 2rem;
		}

			#starting
			 > *:before {
				top: calc(-2rem - 1px);
				height: calc(2rem + 1px);
			}

		#starting
		 .logo {
			width: 4.75rem;
			height: 4.75rem;
			line-height: 4.75rem;
		}

			#starting
			 .logo .icon:before {
				font-size: 1.75rem;
			}

		#starting
		 .content .inner {
			padding: 2.5rem 1rem;
		}

		#starting
		 .content p {
			line-height: 1.875;
		}

	}

	@media screen and (max-width: 480px) {

		#starting
		 {
			padding: 1.5rem 0;
		}

			#starting
			 .content .inner {
				padding: 2.5rem 0;
			}

			#starting
			 nav ul {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				min-width: 10rem;
				max-width: 100%;
			}

				#starting
				 nav ul li {
					border-left: 0;
					border-top: solid 1px #ffffff;
				}

					#starting
					 nav ul li:first-child {
						border-top: 0;
					}

					#starting
					 nav ul li a {
						height: 3rem;
						line-height: 3rem;
						min-width: 0;
						width: 100%;
					}

			#starting
			 nav.use-middle:after {
				display: none;
			}

	}
